# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
.cache
coverage.xml

# PyCharm dev-specific settings
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
